.App {
  padding: 2rem;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.create-button {
  margin-left: 1rem;
  background-color: #1900ff;
  color: #fff;
  padding: 0.2rem 0.5rem;
  border: 2px solid #1900ff;
  cursor: pointer;
  border-radius: 0.2rem;
}

input[type="text" ] {
    padding: 0.2rem;
}

.create-button:hover {
  transition: all 0.5s;
  background-color: #210ed2;
  border: 2px solid #210ed2;
}

.create-button:disabled {
  background-color: gray;
  border: 2px solid gray;
  cursor: not-allowed;
}

.todo-wrapper {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-bottom: 2px solid rgb(234, 231, 231);
}

.delete-button {
  padding: 0.1rem 0.4rem;
  background-color: rgb(251, 47, 47);
  border: 2px solid rgb(251, 47, 47);
  color: #fff;
  border-radius: 0.2rem;
}

.delete-button:hover {
  cursor: pointer;
  transition: all 0.5s;
  background-color: rgb(225, 4, 4);
  border: 2px solid rgb(225, 4, 4);
}