.App {
  padding: 2rem;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

.create-button, .update-button {
  margin-left: 1rem;
  background-color: #1900ff;
  color: #fff;
  padding: 0.2rem 0.5rem;
  border: 2px solid #1900ff;
  border-radius: 0.2rem;
}

input[type="text"] {
    padding: 0.3rem 0.7rem;
}

.create-button:hover, .update-button:hover {
  transition: all 0.5s;
  background-color: #210ed2;
  border: 2px solid #210ed2;
}

button:disabled, button:disabled:hover {
  background-color: gray;
  border: 2px solid gray;
  cursor: not-allowed;
}

.todo-wrapper {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-bottom: 2px solid rgb(234, 231, 231);
}

.action-wrapper {
  margin-left: 3rem;
}

.edit-button {
  padding: 0.1rem 0.4rem;
  background-color: rgb(7, 164, 7);
  border: 2px solid rgb(7, 164, 7);
  color: #fff;
  border-radius: 0.2rem;
}

.edit-button:hover {
  background-color: rgb(4, 118, 4);
  border: 2px solid rgb(4, 118, 4);
  transition: all 0.5s;
}

.delete-button {
  margin-left: 0.5rem;
  padding: 0.1rem 0.4rem;
  background-color: rgb(251, 47, 47);
  border: 2px solid rgb(251, 47, 47);
  color: #fff;
  border-radius: 0.2rem;
}

.delete-button:hover {
  transition: all 0.5s;
  background-color: rgb(225, 4, 4);
  border: 2px solid rgb(225, 4, 4);
}

.complete-button {
  margin-left: 0.5rem;
  padding: 0.1rem 0.4rem;
  background-color: #3c3b3b;
  border: 2px solid #3c3b3b;
  color: #fff;
  border-radius: 0.2rem;
}

.complete-button:hover {
  transition: all 0.5s;
  background-color: #2b2929;
  border: 2px solid #2b2929;
}

.completed {
  text-decoration: line-through;
}